<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>由老色皮倾情呈现</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/comic.css">
</head>
<body>
<div class="board">
    <div class="header" style="margin: 10px auto">
        <div id="title" style="display: inline-block;font-weight: bold;font-size: 28px;vertical-align: top;margin-top: 20px">{{ .id }}</div>
        <div style="width: 80%;font-weight: bold;margin-left: 10%;text-align: center" id="aphorism"></div>
    </div>
    <div id="full-screen" data-switch="off"></div>
    <div class="content" style="padding: 0 12%;margin-bottom: 40px">
        <div  id="images"></div>
        <div id="process">
            <span class="text"></span>
        </div>
    </div>
</div>
</body>
<script src="/static/js/md5.js"></script>
<script>
    const aphorism = ["小撸怡情，大撸伤身",
        "人类思考的最佳方式就是打个胶线",
        "我不敢与他碰面，因为他一拔枪就意味着他贤者模式的终结",
        "没有东西能在他的大炮下撑过60秒——除了他自己的左右手",
        "我能奖励自己一整天\n\t——史蒂夫·俊杰"];
    var index = 1
    var delta = 0
    const step=5
    const id={{.id}}
    const pageNum={{.pageNum}}
    const text = document.getElementById("aphorism");
    text.innerText=aphorism[Math.floor(Math.random()*aphorism.length)]
    const content = document.querySelector('div.content')
    const board = document.querySelector('div.board')
    const images = document.getElementById('images');
    const full_screen = document.getElementById('full-screen')
    const process = document.querySelector('#process')
</script>
<script src="/static/js/drawComic.js"></script>
</html>