<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>由老色皮倾情呈现</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/comic.css">
</head>
<body>
<div class="board">
    <div class="header" style="margin: 10px auto">
        <div id="title" style="display: inline-block;font-weight: bold;font-size: 28px;vertical-align: top;margin-top: 20px">{{ .id }}</div>
        <div style="width: 80%;font-weight: bold;margin-left: 10%;text-align: center" id="aphorism"></div>
    </div>
    <div id="full-screen" data-switch="off"></div>
    <div class="content" style="padding: 0 12%;margin-bottom: 40px">
        <div  id="images"></div>
        <div id="process">
            <span class="text"></span>
        </div>
    </div>
</div>
</body>
<script>
    const aphorism = ["小撸怡情，大撸伤身",
        "人类思考的最佳方式就是打个胶线",
        "我不敢与他碰面，因为他一拔枪就意味着他贤者模式的终结",
        "没有东西能在他的大炮下撑过60秒——除了他自己的左右手",
        "我能奖励自己一整天\n\t——史蒂夫·俊杰"];
    var index = 0
    var req = 1
    const step=5
    const text = document.getElementById("aphorism");
    text.innerText=aphorism[Math.floor(Math.random()*aphorism.length)]
    const content = document.querySelector('div.content')
    const board = document.querySelector('div.board')
    const images = document.getElementById('images');
    const full_screen = document.getElementById('full-screen')
    const process = document.querySelector('#process')
    var id={{.id}}
    var hostname={{.hostname}}
    var port={{.port}}
    // 创建WebSocket连接:
    const ws = new WebSocket('ws://'+hostname + ':' + port + '/comicWs/' + id);
    const reSendUrl = "/getComic/"
    // 连接成功时:
    ws.addEventListener('open', function (event) {
        console.log('连接建立成功,开始传输.')
        process.querySelector('.text').innerText="本子正在加载中……"
        process.style.backgroundImage='url(\'/static/image/load.gif\')'
        process.style.backgroundPosition='center left -70%'
        process.style.backgroundSize='70%'
        lazyLoad()
    });
    // 收到消息时:
    ws.addEventListener('message', function (event) {
        var obj=JSON.parse(event.data)
        if (index <= obj.index) {
            for (let i=index; i<=obj.index;i++,index++){
                let img= document.createElement('img')
                img.className='page'+i
                img.dataset['index']=i+''
                images.appendChild(img)
            }
        }
        var img= document.querySelector('.page'+obj.index)
        if (obj.statusCode===0){
            img.src=obj.comicImage
        }else {
            img.src='/static/image/loadfailed.png'
            img.onclick=function(){
                console.log('重传')
                $.getJSON(reSendUrl+id+'/'+img.dataset['index'],function (resend) {
                    if(resend.statusCode===400){
                        img.src='/static/image/loadfailed.png'
                    }else{
                        img.src=resend.comicImage
                        img.onclick=null
                    }
                })
            }
        }
        // TODO:
    });
    // 连接关闭时:
    ws.addEventListener('close', function () {
        console.log('本子传输完毕.');
        process.querySelector('.text').innerText="本子加载完毕！"
        process.style.backgroundImage='url(\'/static/image/load_success.png\')'
        process.style.backgroundPosition='center left 14%'
        process.style.backgroundSize='12%'
    });
    full_screen.onclick=function(){
        if(full_screen.dataset['switch']==="off"){
            content.style.padding='0'
            content.style.fontSize='0'
            process.style.fontSize='medium'
            board.style.margin='0'
            board.style.width='100%'
            $('.content img').css('box-shadow','none')
            full_screen.dataset['switch']="on"
            full_screen.style.backgroundImage='url(\'/static/image/full-screen-off.png\')'
        }else{
            content.style.padding='0 12%'
            content.style.fontSize='medium'
            board.style.margin='50px auto'
            board.style.width='92%'
            $('.content img').css('box-shadow','0 0 16px rgb(0 0 0/50%)')
            full_screen.dataset['switch']="off"
            full_screen.style.backgroundImage='url(\'/static/image/full-screen-on.png\')'
        }
    }
    window.addEventListener('scroll', function(){
        if(document.body.clientHeight-document.documentElement.scrollTop<2100&&req===index+1){
            lazyLoad()
        }
    })
    function lazyLoad(){
        ws.send(req+' '+step)
        req+=step
    }
</script>
</html>